{% macro location_channel(rows) -%}
<h3>By Location & Channel</h3>
<ul>
  {% for row in rows -%}
    <li>
      {{ row.location }} - {{ row.channel }}
      <ul>
        {% for metric in row.metrics -%}
          <li>
              {{ metric.name }} || Data Studio: <b>{{ metric.value.api }}</b> | Deliverect Weekly Report: <b>{{ metric.value.manual }}</b> | Diff: <b>{{ metric.value.diff }}</b> | %Diff: <b>{{ metric.value.perc_diff }}
          </li>
        {%- endfor %}
      </ul>
    </li>
  {%- endfor %}
</ul>
{% endmacro -%}


